
        <div id="abt" class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>About ISC</strong>
                    </h2>
                    <hr>
                </div>
                
                <div class="col-md-12">
                    <p>Indian Structural Consultancy is dedicated to deliver best and functional results offering a whole spectrum of engineering design and architectural planning services.</p>
                    <p>We deal in all RCC, Steel and PSC designing projects and developed confidence with successful completion of several challenging design projects associated with various renowned agencies in various parts of India.</p>
                    <p><strong>Our main area of focus is structural designing in</strong></p>
					
					<div id="elements">
					<div class="row">
					<div class="col-md-6"><p>&#8226; Buildings</p></div>
					<div class="col-md-6"><p>&#8226; Bridges</p></div>
					</div>
					<div class="row">
					<div class="col-md-6"><p>&#8226; Water supply scheme</p></div>
					<div class="col-md-6"><p>&#8226; Water retaining structures</p></div>
					</div>
					<div class="row">
					<div class="col-md-6"><p>&#8226; Waste water management</p></div>
					</div>
					</div>
					<p>We are growing to become one window to offer fusion of all civil engineering, architectural, and interior services and help you to Create What Never Was. Our core strengths are our integrated services offerings and associative capabilities.
					From picking up the pencil to sketch your dreams to last brick plastering we stand with you, offering entire spectrum of unmatched services in structural and architectural designing, with a suitable approach.
					Whether our clients need end to end turnkey solutions or just good advice, they turn to us for flexible, high standard, economical, eco-friendly solutions because we believe in long lasting relationship with our clients.
					We have admirable team with sound knowledge, a solid experience and a proven strength on delivering norms across its full spectrum of services.
					All this has enabled Indian Structural Consultancy to become a name that is inextricably woven into the fabric of India.</p>
				</div>
				</div>
        </div>
				<div class="row">
			<div class="box">
				<div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>Our Mission</strong>
                    </h2>
                    <hr>
                </div>
                <p>Engineering the imagination of our clients, to provide cost effective, accurate, safe and environmental friendly design solutions, with best in class drawings at a minimum lead time and reach the zenith of excellence.</p>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
				</div>
				</div>
				<div class="row">
			<div class="box">
				<div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>Our Vision</strong>
                    </h2>
                    <hr>
                </div>
                <p>&#8226;   To create awareness among the society, about the importance of structural design irrespective of the size of the construction.<br>
            &#8226;   To be internationally recognised as the best structural consultancy firm to work with.<br>
            &#8226;   To be associated with most of the Construction Professionals like Architects and Contractors who are interested in building challenging<span style="margin-left:12px;"> engineering projects.</span><br>
</p>
				<div class="clearfix"></div>
            </div>
        </div>

        
        