		<div id="crr" class="row">
			<div class="box">
				<div class="col-lg-12">
					<hr>
					<h2 class="intro-text text-center" style="font-size:2em;">
						Career
					</h2>
					<hr>
					</div>
					<div class="row">
					<div class=" col-lg-3 col-lg-offset-2 card">
					<h4>Civil Engineer</h4>
<p>Education : </p>
<p class="career-p">UG : Diploma - Civil<br>
PG : Post Graduation Not Required<br>
Doctorate : Doctorate Not Required<br>
&#8226; Civil Engineer with minimum 2 years <br>
  relevant experience as Site Engineer in Construction Company.</p>
	</div>			
		<div class=" col-lg-3 col-lg-offset-2 card">			
					<h4>Draftsman</h4>
					<div style="position:relative;"><h6>(Structural/ Architectural/ Infrastructure)</h6></div>
<p>Education : </p>
<p class="career-p">UG : Diploma - Civil<br>
PG : Post Graduation Not Required<br>
Doctorate : Doctorate Not Required<br>
&#8226;Diploma in Civil with minimum 1 year<br>
relevant experience as Structural, Architectural
 or Infrastructure Draftsmen in a civil construction company.</p>
				
				
				
				</div>
				</div>
				</div>
			</div>
		</div>
