<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Indian Structural Consultancy Indore">
<meta name="description" content="Indian Structural Consultancy is the leading name in
						providing architectural, structural and civil engineering
						consultancy services in India and abroad emerging from the heart
						of incredible India, Indore, Madhya Pradesh. We come to you
						to provide best of the services in design of RCC, Steel and PSC
						structures and help you to Create What Never Was. More than 50% of
						worlds total expenditure is on construction activities, we Indian
						Structural Consultants task to reduce cost and provide efficient
						and effective design solutions.">
<meta name="keyword" content="Indian Strunctural Consultancy ISC Indore India Structures Company engineering engineer design proof checking structural audit">