        <div id="srv" class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Services We Provide</strong>
                    </h2>
                    <hr>
                </div>
				
				
				<div style="clear:both;margin-top:30px;">
				<p>We offer best of our Structural Designing services in RCC, Steel and PSC structures. Design is the most important component of the project and we have the expertise in combining form, functionality and aesthetics in tandem with the processes to provide a scientifically sound solution.</p>
				</div>
				<div class="head-serv">
				<div id="headServ" >Structural Designing</div>|
				<div id="headServ">Proof Checking</div>|
				<div id="headServ">Structural Audit</div>
				</div>
				<div class="card-container">
				<div class="row">
				<div class=" col-lg-3 card">
				<label>
				Building Structures
				</label>
				<p>&#8226; Residential Buildings</p>
				<p>&#8226; Commercial Buildings</p>
				<p>&#8226; Auditoriums</p>
				<p>&#8226; Public Service Buildings</p>				
				<p>&#8226; Religious Buildings</p>
				</div>
				
				
				<div class="col-lg-3 col-lg-offset-1 card">		
				<label>
				Bridge Design
				</label>
				<p>&#8226; Slab Bridge</p>
				<p>&#8226; Girder Bridge</p>
				
				<p>&#8226; Suspension Bridge</p>
				<p>&#8226; Box and Pipe Culvert</p>				
				</div>
				<div class=" col-lg-3 col-lg-offset-1 card">
				<label>
				Water Supply Scheme
				</label>
				<p>&#8226; Water Treatment Plant</p>
				<p>&#8226; Intake well</p>
				<p>&#8226; Over Head Tank</p>
				<p>&#8226; Underground Water Tank</p>
				<p>&#8226; Water Distribution Network</p>				
				<p>&#8226; Sump Well</p>				
				</div>
				</div>
				<div class="row">
				<div class=" col-lg-3 card">
				<label>
				Water Retaining Structures
				</label>
				<p>&#8226; Barrage</p>
				<p>&#8226; Dam</p>
				</div>
				
				<div class=" col-lg-3 col-lg-offset-1 card">
				<label>
				Waste Water Management
				</label>
				<p>&#8226; Effluent Collection Drains</p>
				<p>&#8226; Storm Water Drain</p>
				<p>&#8226; Sewage Treatment Plant</p>
				<p>&#8226; Effluent Treatment Plant</p>
				</div>
				<div class=" col-lg-3 col-lg-offset-1 card">
				<label>
				Design of Special Structures
				</label>
				<p>&#8226; Chimney</p>
				<p>&#8226; Communication towers</p>
				<p>&#8226; Truss Bridges</p>
				<p>&#8226; Machine Foundation</p>
				</div>
				</div>
                </div>
				</div>
        </div>
